a {
  text-decoration: none;
}

h3 {
  text-align: center; margin-bottom: 1em;
}

h4 {
  position: relative;
}

.dashboard-item {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}

.dashboard-item:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
