<h2>Books</h2>
<ul class="books">
  <li *ngFor="let book of books"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)">
    <span class="badge">{{book.id}}</span> {{book.title}}
  </li>
</ul>

<div *ngIf="selectedBook">
  <h2>{{ selectedBook.title }} details:</h2>
  <div><label>id: </label>{{selectedBook.id}}</div>
  <div>
    <label>title: </label>
    <input [(ngModel)]="selectedBook.title" placeholder="name">
  </div>
  <div><label>URL: </label> {{ selectedBook.url }} </div>
  <div><label>Publication year: </label>{{selectedBook.pub_year}}</div>
</div>
