<div class="container">
  <h3>Reviews</h3>

  <div class="row justify-content-start">
    <div class="col-4">
      <form (ngSubmit)="onSubmit()" #reviewForm="ngForm">

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
                 class="form-control"
                 id="title"
                 [(ngModel)]="review.title"
                 name="title"
                 required>
        </div>

        <div class="form-group">
          <label for="text">Content</label>
          <textarea class="form-control"
                    rows="5"
                    id="text"
                    [(ngModel)]="review.text"
                    name="text">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-4">
      <ul>
        <li *ngFor="let review of reviews">
          {{ review.title }}
          {{ review.text }}
        </li>
      </ul>
    </div>
  </div>
</div>
