<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Flaskr</h1>
  <div class=metanav>
  {% if not session.user_id %}
    <a href="{{ url_for('login') }}">log in</a>
    {% if request.path != '/register' %} 
      or
      <a href="{{ url_for('register') }}">register</a>
    {% endif %}
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
