.App {
  margin: 2em;
}

.books-search {
  width: 25em;
}

.books {
  margin: 2em 2em 2em 0em;
  padding: 0;
  width: 25em;
}

.book {
  width: 25em;
}

.book-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 19em;
  display: inline-block;  
}

.books li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.books a {
  color: #888;
}

.books-buttons {
    float: right;
    font-size: 1rem;
    color: gray;
}

.books-buttons a:hover {
    color: gray;
}
